In [ ]:
def find_sum_of_array_1(array):
  _sum=0
  for elm in array:
    _sum = elm +_sum
    return _sum

def find_sum_of_array_2(array):
  if len(array) == 1:
    return array[0]
  else:
    return array[0] +find_sum_of_array(array[1: ])

def find_sum_of_array_3(array):
  return sum(array)


def has_elm(array, x):
  return x in array

  print('sum is: ' , find_sum_of_array_3([4,2,1]))
  print(has_elm([4,2,1]))

In [ ]:
x = 5
y = 3
z = x+y
f = 3.0

print(z)
print('type of x is ' , type(x))
print('type of f is ' , type(y))
print('product = ' , x *z)
print('cube = ', x ** 3)
print('3/2 = ' , 3/2)
print('3//2 =' , 3//2)
print(True and False )#boot or op

String

In [ ]:
str1 = 'machine'
str2 = 'learning'
spc = " " # ' ' and " "are both fine around a string 

course_str = str1 + spc + str2 # cancatination
course_str

In [ ]:
str2.capitalize()

In [ ]:
def cap_first_word(s):
  ###Begin Solution
  return [elm.capitalize() for elm in s.split()]
  ### End Solution

List

In [ ]:
 l = [] #an empty array
print(type(1) , 1)

l = list() #a type constructor
print(type(1) , 1)

_iterable = (4,2,4) #define an iterable (here a tuple)
l = list(_iterable) # list construction from an oterable
print (type(1), 1)

l =[4,5,4] #using square brackets around comma seperated elms
print(type(1) ,1)

l = [x for x in range(1,5) ] #using list comprehension
print(type(1) ,1)

In [ ]:
def total_sum(x,y):
  '''
  args: x a list
        y a list
  return:list
  '''
  ### Begin solution
  return sum([elmx**2 for elmx in x ]) + sum([elmy**3 for elmy in y])
  ## end Solution

In [ ]:
assert total_sum([5,3,1] , [4,5,2] ) ==232
assert total_sum([0] , [0]) == 0
assert total_sum([1110] , [0]) ==1110**2

Dictionaries

In [ ]:
#that 's your hasg table in one line with keys one , two, three, and volts 1,2,3
a = dict(one=1, two=2 ,three=3)

#the following are the other ways to construct the sam dict 

b= {'one' :1 , 'two' : 2 ,'three':3}
c= dict(zip(['one' ,'two ' ,'three'], [1,2,3]))
d= dict([('two' ,2) ,('one',1) ,('three' , 3)])
e= dict({'three' : 3 , 'one':1, 'two': 2})
a==b == c == d == e

print(e['one'])#key is one prints value 1
print(b['three']) #key is three prints val of 3

# **Exercise**

In [ ]:
def create_mapping(n):
  '''
  args:int
  return:dict
  '''
  ### Begin Solution 
  return dict(zip([name for name in range(1,n+1)] , [(i**2, (n-i)**2 )for i in range(1,n+1)]))
  ## End Solution

In [ ]:
assert create_mapping(5) == {1: (1,16) , 2:(4,9) , 3:(9,4) , 4:(16,1) , 5:(25, 0)}
assert create_mapping(15) == {1:(1,196),
                              2:(4,169),
                              3:(9,144),
                              4:(16, 121),
                              5:(25, 100),
                              6:(36, 81),
                              7:(49,64),
                              8:(64, 49),
                              9:(81 ,36),
                              10:(100 ,25),
                              11:(121, 16),
                              12:(144, 9),
                              13:(169,4),
                              14:(196, 1),
                              15:(225, 0)
                              }
assert create_mapping(1) == {1:(1,0)}
assert create_mapping(0) == {}

# **Functions**

In [ ]:
def douoble_it(x):
  '''
  args:int
  return:int
  '''
  return x*2

In [ ]:
#swap values of args, x get val of y, nd y gets val of x.
def swap (x,y):
  tmp = x
  x=y
  y= tmp
  return x, y # note we are returning more than one vars(as a tuple).

In [ ]:
def swap(x,y):
### Begin Solution
  y,x = x,y
  ###End Solution
  return x,y

In [ ]:
assert swap(4,3) == (3,4)

In [ ]:
print(swap)

# **Anonymous functions**

In [ ]:
double_it = lambda x: x * 2

In [ ]:
array = [1,2,3,4]
list(map ((lambda x: x*6) , array) ) #map returns an iterrator , list(iterator) will give you a readable list

# **Exercise**

In [ ]:
def _print1(array):
  ### Begin Solution
  already_printed =[]
  for elm in array:
    if elm not in already_printed:
      print(elm)
      already_printed.append(elm)
  ### End Solution

In [ ]:
def _print2(array):
  ###Begin Solution
  distinct_arr = (set(array))
  for elm in distinct_arr:
    print(elm)
  ###End solution

In [ ]:
def _print3(array):
  ###Begin Solution
  print(set(array))
  ###End solution

# **Classes**

In [ ]:
class Welcome_to_ML(object):

  #constructor
  def __init__(self, student_name):
    #collection of data
    self.name = student_name

  #collection of routines/methods 
  def say_hello_to_student(self):
    print('hello' , self.name, 'welcome to your Machine Learning course.')

wc_ml = Welcome_to_ML('Ertugrul') # instantiate an object call wc_ml
wc_ml.say_hello_to_student()

# **Numpy**

In [ ]:
import numpy as np

In [ ]:
a = np.array([[1,2] , [3,5]]) #instantiate a 2x2 array.
type(a)
print('shape of a ', a.shape) #Shape is (2x2). Rank of this array is 2 (total numbers of dims)

#datatypes of each elm in array a
print('Each elm in a has type ', a.dtype)

#array slicing in np .Similar to native list in pthon,
# for each dimension, specify a slice.
print('at pos (0,0 ) is ', a[0,0])  #elm at position 0 in first dim and at position also 0 at 2nd dim i.e. 1
print('first col', a[:,0]) #elms at any postion in 1st dim and position 0 at 2nd dim i.e first col.
print('First row ', a[0,:] ) #elms at any position in 2nd dim and position 0 at 1st dim i.e first row,

In [ ]:
#let's create an array of all zeros
z= np.zeros((4,2))
print('shape' , z.shape)

z= np.zeros((4,2,2)) # rank3
print('shape' ,z.shape)

#similarly, an array one ones with dtype init16(16 bits int)
o = np.ones((3,3) , dtype =np.int16)
print('\n array of 1s: \n ', 0 )

# other way of **thinking**

In [ ]:
def evenly_spaced_numbers(n,x,y):
  ### Begin solution 
  return np.linspace(x,y,n)
  ### End solution

In [ ]:
assert (evenly_spaced_numbers(3, 2, 3) == np.array([2. , 2.5 ,3. ])).all

Basic Operations

In [ ]:
_mul_op_overload = (a_rank3 * b_rank3) #elem wise mult. overloaded operator
_mul_func = np.multiply(a_rank3, b_rank3) #elem wise mult. func
print(_mul_func)
print('Each elm equality\n' , _mul_op_overload == _mul_func) #elm wise equality check
print('\nAre all elms equal? ' , (_mul_op_overload == _mul_func) .all())  #check if all elms equal . all()

In [ ]:
a_rank3 = np.array([[4,5,6] ,
                   [10,11,12],
                   [4,2,5]
])
b_rank3 = np.array([[44,1,6] ,
              [0, 1,12],
              [49 ,23,5]])

In [ ]:
a_rank3 + b_rank3 #elems wise addition

In [ ]:
a_rank3- b_rank3 #elem wise sub

In [ ]:
b_rank3 / a_rank3 #elem wise div
#try a_rank3 / b_rank3

# Linear algebra **operations**

In [ ]:
# mat-mat multiply
A= np.random.randn(5,4)
B= np.random.rand(4,3)

In [ ]:
A.dot(B) #AB prod

In [ ]:
try: 
  B.dot(A) #BA product
except:
  print('shapes not alligned for matrix mul')

In [ ]:
A@B  #AB Product

# **Exercise **

In [ ]:
def sum_cols(a):
  '''
  args: ndarray of shape (mxn)
  return : np array of shape n
  '''

  ### Begin solution
  return np.sum(a, axis = 0)
  ### End solution

In [ ]:
def sum_rows(a):

  '''
arga: ndarray of shape (mxn)
return : np array of shape n

  '''

  ### Begin solution
  return np.sum(a, axis = 1)
  ### End solution

In [ ]:
M= np.array([[1,2,3],
             [4,5,6],
             [7,8,9],
             [10,11,12]])
v = np.array([1,1,1,1])
v = np.ones((1,4))
v.shape

In [ ]:
# Ex 1. Use for loop 
def add_sacalar_to_vect(v,c):
  ### Begin solution
  sum_ = np.empty_like(v)
  for i in range(len(v)):
    sum_[i] = v[i] + s
  return sum_
  ### End siolution

In [ ]:
#ex 2. use for loop
def sum_vec_to_matrix(M, v) :
  ### Begin solution
  M_tranp = M.T #shape (3,4)
  len_m = len(M_tranp)
  sum_ = np.empty((3,4))
  for i in range(len_m):
    sum_[i] -M_tranp[i] +v  #M_tranp[i].reshape(-1) +M_tranp[i].reshape(-1)
  return sum_.T
  ### End solution

In [ ]:
sum_vec_to_matrix(M,v)

# Debugging test Exam **bold text**

In [ ]:
import numpy as np

In [ ]:
v = np.ones((4,1)) #instead of v = np.ones((1,4))

In [ ]:
#debug this
v= np.ones((4,1))
sum_vec_to_matrix(M,v)

In [ ]:
sum_vec_to_matrix(M,v)

In [ ]:
M+v

In [ ]:
A = np.random.randn(1,4)
B =np.random.randn(4,)
#what is the shape pf A+B

In [2]:
A = np.random.randn(4,1)

NameError: ignored

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([(1, 'ayesha' , 'Riyadh college of technology'),
                   (2, 'Haifa' , 'King Saud University'),
                   (3,'Saleh' , 'Imam Muhammad ibn Saud Islamic University'),
                   (4, 'Lucas' ,'Princess nora bint Abdul Rahman University'),
                   (5, 'Ali' , 'Prince Sultan University'),
                   (6, 'Asma', 'Al-Yamamah University')
                   ],
                  columns=["id" , "name " , "university name"])

In [ ]:
df

In [ ]:
#set index to id 
df.set_index('id')

In [ ]:
#Lets 's see our df again
df

In [ ]:
df.set_index("id" , inplace=True)

In [ ]:
df.head()

# Assesing **data**

In [1]:
df.loc[4,'name']

NameError: ignored

In [ ]:
# all names in df
df.loc[:,'name']

In [ ]:
print(type(df.loc[:, 'name']))